.feature-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2.25rem;
  justify-content: center;
  @mixin atSmall {
    padding-left: 24px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &__icon {
    display: block;

    @mixin atSmall {
      position: absolute;
      top: 0;
      left: 18px;
      /*
      position: relative;
      left: 0;
      top: 35px; */
    }
  }
  &__text-block {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    @mixin atSmall {
      padding-left: 86px;
      padding-bottom: 20px;
      margin-top: -30px;
    }
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin: .7em auto .8rem;
    @mixin atSmall {
      font-size: 1.875rem;
      margin-top: 1em;
      margin: 1em 0 .8rem;
    }
  }

}