/* converted to flexbox */

.row {
  display: flex;
  flex-wrap: wrap;
  &--gutters {
    margin-right: -65px;
  }
  &--gutters-large {
    margin-right: -100px;
  }
  &--gutters > div {
    padding-right: 65px;
  }
  &--gutters-large > div {
    padding-right: 100px;
  }
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    &__col-4 {
      width: 33.33%;
    }
    &__col-4-larger {
      width: 37%;
    }
    &__col-6 {
      width: 50%;
    }
    &__col-8 {
      width: 66.66%;
    }
    &__col-8-smaller {
      width: 63%;
    }
  }
}